{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

          
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds main-content">

    <article class="clearfix post-36045 post type-post status-publish format-standard has-post-thumbnail hentry category-gov-uk-forms tag-gov-uk-forms">

      <header>
          <h1 class="govuk-heading-xl">From insights to action: Leveraging new methods to tailor business support.</h1>
      </header>

      <p class="govuk-body-l">
In our ongoing mission to better serve the business community, our department is taking significant steps forward by introducing new tools and methodologies that allow us to tailor our support more precisely to the needs of business people. These tools represent a shift from understanding businesses purely as entities to focusing on the individuals behind them—their goals, challenges, and the dynamics that drive their decision-making. This shift empowers us to provide more impactful, timely interventions that can significantly influence business success.
      </p>

      <p class="govuk-body">
        <img src="http://localhost:3000/public/i/BMC-and-persona-story.jpg" alt="" width="100%">
      </p>

      <h2 class="govuk-heading-l">Understanding business people on a deeper level</h2>

      <p class="govuk-body">
Traditional UX research has been instrumental in gathering user insights, but when it comes to truly understanding the business leaders we aim to support, there’s a need to go further. Here’s how we’re expanding our toolkit:
      </p>

      <h3 class="govuk-heading-m">Business personas</h3>

      <p class="govuk-body">
We’re enhancing our approach by creating personas that don’t just capture demographic or role-based information, but also dive into the specific challenges, aspirations, and strategic goals of business leaders. These personas are built with a focus on the core elements required for their business’s success—whether it’s navigating market challenges, scaling operations, or fostering innovation. By centering these personas on business needs, we’re able to better empathize with our users and offer support that’s closely aligned with their day-to-day realities and long-term objectives.
      </p>

      <h3 class="govuk-heading-m">Narrative tracking</h3>

      <p class="govuk-body">
        Understanding a business leader means understanding their journey. We’re building detailed narratives that track the evolution of a business over time—from its inception, through key milestones like growth phases, failures, expansions, and interactions with the community. These timelines help us contextualize the current state of the business and anticipate future needs, allowing us to offer support that is not just reactive but proactive, based on a deep understanding of where the business has been and where it’s headed.
      </p>

      <h3 class="govuk-heading-m">The business model canvas:</h3>

      <p class="govuk-body">
        We’re adopting the Osterwalder Business Model Canvas as a critical tool in our approach. This canvas does more than just map out a business’s operational framework—it serves two key purposes:
      </p>

      <h3 class="govuk-heading-m">Persona development</h3>

      <p class="govuk-body">
        By understanding the business model through the canvas, we can identify what’s essential for a business to succeed. This insight allows us to create business personas that are grounded in the specific needs and goals of the business, ensuring that our support is directly relevant to what matters most.
      </p>

      <p class="govuk-body">
        <img src="http://localhost:3000/public/i/MB-wheel.png" alt="" width="100%">
      </p>

      <h3 class="govuk-heading-m">Service innovation:</h3>

      <p class="govuk-body">
        The canvas also provides a four-segment lens—covering Offer (value propositions), Customer (relationships, channels, segments), Resources & Processes, and Finance & Revenue—that helps us explore and frame opportunities for innovation. By viewing our services through these segments, we can identify gaps in our current offerings and brainstorm new, innovative ways to support businesses, ensuring that we’re not just meeting needs but anticipating and driving future demand.
      </p>


      <p class="govuk-body">
        <img src="http://localhost:3000/public/i/timeline.png" alt="" width="100%">
      </p>

      <h2 class="govuk-heading-l">Turning insights into action:</h2>

      <p class="govuk-body">
The tools we’re introducing are not just about collecting more data—they’re about transforming insights into action. By deeply understanding the journeys and business models of our clients, we can tailor our interventions more precisely. For example, if we know that a business is entering a growth phase, we can proactively offer resources and support that align with their expansion plans, or if a business is facing financial challenges, we can provide timely guidance and connections that help them navigate those difficulties.
      </p>
      <p class="govuk-body">
This proactive, needs-based support is critical in making our interventions more effective. It’s not just about being there when a business asks for help; it’s about anticipating their needs and being ready with the right support at the right time.
      </p>

      <h2 class="govuk-heading-l">Managing data from growing relationships</h2>

      <p class="govuk-body">
As we deepen our understanding of business people and build these richer narratives, we’re also confronting the challenge of managing the growing amount of data we’re collecting. Tracking the history, challenges, and evolving needs of each business is crucial for maintaining strong, ongoing relationships. However, this requires sophisticated data management solutions that allow us to store, retrieve, and analyze this information effectively.
      </p>
      <p class="govuk-body">
We’re beginning to explore innovative data management tools and practices that will help us handle this information more efficiently. By organizing and leveraging this data, we can ensure that our support remains personalized, timely, and relevant, even as our relationships with business people grow and evolve.
      </p>

      <h2 class="govuk-heading-l">So what does all this mean?</h2>

      <p class="govuk-body">
The introduction of these new tools and methods marks a significant evolution in how our department understands and supports business people. By leveraging deeper insights through business personas, narrative tracking, and the Business Model Canvas, and by exploring better ways to manage the wealth of data from our growing relationships, we’re positioning ourselves to offer more personalized, timely, and effective support. This journey from insights to action is one that will not only enhance our current services but also drive innovation in how we support businesses in the future. We’re excited to see the positive impact this will have on our work and the businesses we serve.
      </p>

<video width="100%" controls loop>
  <source src="http://localhost:3000/public/i/manequin.mov" type="video/mp4">
  <!-- You can add more source elements for different video formats -->
  Your browser does not support the video tag.
</video>

</article>


  </div>
</div>

{% endblock %}
